body {
  background: linear-gradient(90deg, rgb(34, 65, 144), rgb(146, 152, 154));
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

input {
  width: 30px;
}

h1 {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);

}

.App {
  height: 100vh;
  background-image: url("../public/images/background2.JPG");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);
}

table,
thead,
tbody,
tr,
td {

  border: 1px solid black;
}

td {
  text-align: center;
  margin: 10px;
}