body {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

input {
  width: 30px;
}

h1 {
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);

}

.App {
  height: 100vh;
  background-image: url("../public/images/background2.JPG");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 80%;
  max-width: 800px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);
}


.tableHeaders{
  display: flex;
  flex-direction: row;
  background-color: white;
}

.tableHeaders > p{
  border: 1px solid black;
}

table,
thead,
tbody,
tr,
td {
  border: 1px solid black;
}

button{
  background: transparent;
}

tr:nth-child(odd){
  background-color: lightskyblue;
}

td {
  text-align: center;
  margin: 10px;
}